
.sort_button {
    margin-top: 40px;

    height: 40px;
    width: 40px;

    border-radius: 5%;
    border-color: transparent;

    background-color: transparent;
    background-image: url('../../assets/images/sort.png');
    background-size: cover;
}