.data {
    color: blue
}

.test {
    color: red
}

.title {
    color: orange;
    font-size: 50px;
}

.description {
    color: black;
    font-size: 30px;
}

.counter {

    font-size: 50px;
    height: 200px;
    width: 200px;
    border-radius: 5%;
    border-width: 5px;

}

.like {
    font-size: 50px;
    height: 20px;
    width: 20px;
    border-radius: 5%;
    border-width: 5px;
    background-color: red;
}

.like_set {
    font-size: 50px;
    height: 20px;
    width: 20px;
    border-radius: 5%;
    border-width: 5px;
    background-color: rgb(175, 30, 30);
}

.dislike {
    font-size: 50px;
    height: 20px;
    width: 20px;
    border-radius: 5%;
    border-width: 5px;
    background-image: url('../images/dislike.png');
    background-size: cover;
}

.dislike:hover {
    background-image: url('../images/dislike_set.png');
    background-size: cover;
}

.dislike:active {
    background-image: url('../images/dislike_red.png');
    background-size: cover;
}

.likes_construction {
    display: flex;
    justify-content: center;
}

.image img {
    height: 600px;
    border-radius: 10%;
    border-width: 5px;
    /* height: 800px;
    width: 800px;
    
    object-fit: cover; */

    /* img {
        height: 100%;
        width: auto;
        display: block;
        object-fit: cover;
    } */
}

.post_data {
    top: 0;
    left: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}