.title {
    color: rgb(255, 166, 0);
    font-size: 50px;
}

.description {
    color: black;
    font-size: 30px;
    font-style: italic;
}

.counter {
    font-size: 50px;
    height: 80px;
    width: 200px;

    border-radius: 5%;
    border-width: 5px;

    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(255, 235, 205);
}

.like {
    height: 40px;
    width: 40px;

    border-radius: 5%;
    border-width: 5px;

    background-image: url('../images/like.png');
    background-size: cover;
}

.like:hover {
    background-image: url('../images/like_set.png');
}

.like:active {
    background-image: url('../images/like_green.png');
}

.dislike {
    height: 40px;
    width: 40px;

    border-radius: 5%;
    border-width: 5px;

    background-image: url('../images/dislike.png');
    background-size: cover;
}

.dislike:hover {
    background-image: url('../images/dislike_set.png');
}

/* .dislike:hover::after {
    content: attr("Siriously?");
} */

.dislike:active {
    background-image: url('../images/dislike_red.png');
}

.likes_construction {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    margin-bottom: 100px;
}

.image img {
    height: 600px;
    border-radius: 10%;
    border-width: 5px;
}

.post_data {
    top: 0;
    left: 0;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dislike .tooltiptext {
    visibility: hidden;
    width: 120px;
    height: 25px;

    background-color: rgb(61, 61, 61);
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 8%;

    text-align: center;
    position: absolute;
    z-index: 1;
}
    

.dislike:hover .tooltiptext {
    visibility: visible;
}